.grid {
  --gap: 0px;
  display: grid;
  gap: var(--gap);

  /* Using clamp() */
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(
        clamp(
          100% - var(--gap),
          (50rem - 100%) * 999,
          100%),
        1fr
      )
    );
}

.item {
  padding: 3rem 8rem;
  text-align: center;
}

.logo {
  background: #F3F3DE;
  color: #1E3C1E;
}

.hours {
  background: #1E3C1E;
  color: #F3F3DE;
}

.delivery {
  background: #DB6F48;
  color: #F3F3DE;
}

.catering {
  background: #F3F3DE;
  color: #DB6F48;
}

.froggy {
  width: 7rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Pinyon', sans-serif;
  text-transform: uppercase;
}

h1, h2 {
  font-family: 'PinyonBold';
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

.light-link {
  color: lightblue;
}

.light-link:hover {
  color: greenyellow;
}

.dark-link:hover {
  color: darkgreen;
}

@font-face {
  font-family: 'Pinyon';
  src: url("assets/pinyon.otf") format("opentype");
}

@font-face {
  font-family: 'PinyonBold';
  font-weight: bold;
  src: url("assets/pinyon_bold.otf") format("opentype");
}
