.grid {
  --gap: 0px;
  display: grid;
  gap: var(--gap);

  /* Using clamp() */
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(
        clamp(
          100% - var(--gap),
          (50rem - 100%) * 999,
          100%),
        1fr
      )
    );
}

.item {
  padding: 3rem 10rem;
  text-align: center;
}

.pizza-box {
  background-image: url('./assets/pizza-box.png');
  background-origin: border-box;
  background-repeat: repeat;
}

.logo {
  background: #F3F3DE;
  color: #1E3C1E;
}

.froggy {
  width: 7rem;
}

.delivery {
  background: #DB6F48;
  color: #F3F3DE;
}

.catering {
  background: #F1DC73;
  color: #B53707;
}

body {
  padding: 0;
  margin: 0;
  font-family: Pinyon, sans-serif;
  text-transform: uppercase;
}

h1, h2 {
  font-family: PinyonBold;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}

@font-face {
  font-family: Pinyon;
  src: url("assets/pinyon.otf") format("opentype");
}

@font-face {
  font-family: PinyonBold;
  font-weight: bold;
  src: url("assets/pinyon_bold.otf") format("opentype");
}
