body {
  padding: 0;
  margin: 0;
  font-family: 'Pinyon', sans-serif;
  text-transform: uppercase;
}

h1, h2 {
  font-family: 'PinyonBold';
}

@font-face {
  font-family: 'Pinyon';
  src: url("assets/pinyon.otf") format("opentype");
}

@font-face {
  font-family: 'PinyonBold';
  font-weight: bold;
  src: url("assets/pinyon_bold.otf") format("opentype");
}

:root {
  --green: #1e3c1e;
  --offwhite: #f3f3de;
  --brown: #3e2805;
}

.hero {
  width: 100%
}

.cell {
  padding: 5rem 20px;
  margin-top: -2px;
}

.hours {
  background-color: var(--offwhite);
  color: var(--green);
}

.catering {
  background-color: var(--green);
  color: var(--offwhite);
}

.order {
  background-color: var(--brown);
  color: var(--offwhite);
}

.social {
  background-color: var(--offwhite);
  color: var(--brown);
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
  text-align: center;
}

.col-2 {
  background-color: palegoldenrod;
}

.light-link {
  color: greenyellow;
}

.light-link:hover {
  color: var(--offwhite);
}

.dark-link {
  color: var(--green);
}

.dark-link:hover {
  color: greenyellow;
}

.froggy {
  width: 7rem;
}

@media (max-width: 600px) {
  .flex-grid {
    display: block;
  }
}
